@import "_variables";

// ? Just for development
// * {
//     border: red solid 2px;
//     margin-top: 0px;
//     box-sizing: border-box;
// }

body {
  background-color: $mainBlue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  header {
    background-color: $headerBlue;
    box-shadow: 0 50vh -10vh 50vh $headerBlue;
    width: 100%;
    margin: 0px;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      h1 {
        width: 100%;
        display: block;
        font-family: $headerFont;
        font-size: 6rem;
        font-stretch: expanded;
        color: #ffffff;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
  .content-list {
    .story-page {
      background-color: #ffffff;
      border-left: #ffffff 1rem solid;
      border-right: #ffffff 1rem solid;
      border-bottom: #ffffff 1rem solid;
      border-radius: 3%;
      display: flex;
      margin: 10rem 18rem;
      padding: 3rem 3rem;
      .lib-1 {
        font-family: $storyFont;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
  footer {
    background-color: $headerBlue;
    box-shadow: 0 50vh 0vh 50vh $headerBlue;
    width: 100%;
    margin: 0px;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      h1 {
        width: 100%;
        display: block;
        padding: 0px;
        font-size: 1rem;
        font-stretch: expanded;
        color: #000000e7;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}
