@import 'helpers/variables';
@import 'helpers/placeholders';

// ? Just for development
// * {
//     border: red solid 2px;
//     margin-top: 0px;
//     box-sizing: border-box;
// }
// ! Full Body
body {
  background-color: $mainBlue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // ! Header Section
  header {
    background-color: $headerBlue;
    box-shadow: 0 50vh -10vh 50vh $headerBlue;
    width: 100%;
    margin: 0px;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      h1 {
        width: 100%;
        display: block;
        font-family: $headerFont;
        font-size: 6rem;
        font-stretch: expanded;
        color: #ffffff;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
  // ! All Stories
  .content-list {
    .lib-1 {
      @extend %storyPageLayout;
      .title {
        display: block;
        font-size: 2em;
        font-family: $storyFont;
        border-bottom: #000000 double 2px;
        width: 75%;
        margin-bottom: 2em;
      }
      .question {
        font-family: $storyFont;
        font-size: 1.3em;
        line-height: 2em;
      }
      h4 {
        padding-bottom: 2em;
      }
    }
  }
  // ! Footer Section
  footer {
    background-color: $headerBlue;
    box-shadow: 0 50vh 0vh 50vh $headerBlue;
    width: 100%;
    margin: 0px;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      h1 {
        width: 100%;
        display: block;
        padding: 0px;
        font-size: 1rem;
        font-stretch: expanded;
        color: #000000e7;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}
