@import 'helpers/variables';
@import 'helpers/placeholders';

// TODO implement for future media queries
// section {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

//! Reset

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
// ! Full Body
body {
  background-image: url('../images/starsBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// ! Header Section
header {
  background-color: $headerBlue;
  box-shadow: 0 50vh -10vh 50vh $headerBlue;
  width: 100%;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    h1 {
      width: 100%;
      display: block;
      font-family: $headerFont;
      font-size: 6rem;
      font-stretch: expanded;
      color: rgb(238, 229, 229);
      text-align: center;
      padding: 1rem 0;
    }
  }
}
// ! All Stories
.hide {
  display: none;
}
// ! Main Story
.answer-page {
  @extend %storyPageBackground;

  .storyBox {
    @extend %storyBox;

    .title {
      font-size: 3em;
      font-family: $storyFont;
      border-bottom: #000000dc double 2px;
      width: 75%;
      margin-bottom: 1rem;
    }

    #storyText {
      @extend %libText;
    }

    .answerButton:focus {
      outline: 0;
    }
    .answerButton {
      background-color: rgba(0, 0, 255, 0.863);
      color: whitesmoke;
      padding: 1rem 2rem;
      border-radius: 15px;
      font-family: $storyFont;
      text-align: center;
      font-size: 16px;
      width: 25%;
      &:hover {
        background-color: rgb(8, 8, 233);
        box-shadow: 1px 1px 2px blue;
        cursor: pointer;
      }
    }

    // ! Questions
    #questionText {
      form {
        @extend %libQuestionsForm;

        input {
          @extend %libQuestionsInput;
        }
      }
    }
    button:focus {
      outline: 0;
    }
    .button {
      background-color: #0000ffdc;
      color: whitesmoke;
      padding: 1rem 2rem;
      margin-left: 0.5rem;
      border-radius: 15px;
      font-family: $storyFont;
      text-align: center;
      font-size: 16px;
      &:hover {
        background-color: #0808e9;
        box-shadow: 1px 1px 2px blue;
      }
    }
  }
}

// ! Footer Section
footer {
  background-color: $footerBlue;
  box-shadow: 0 50vh 0vh 50vh $footerBlue;
  width: 100%;
  margin: 0px;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    h1 {
      width: 100%;
      display: block;
      padding: 1.2rem;
      font-size: 1rem;
      font-stretch: expanded;
      color: #000000e7;
      text-align: center;
    }
  }
}

//? Galaxy S5
@media only screen and (max-device-width: 360px) {
  // ! Header Section
  header {
    div {
      h1 {
        font-size: 1.7rem;
        padding: 1rem 0;
      }
    }
  }
  // ! Main Story
  .answer-page {
    border: $mainBlue 0.3125rem solid;
    border-radius: 3%;
    margin: 1rem 0.5rem;
    padding: 0.6rem;

    .storyBox {
      padding: 1rem 1rem;
      border: whitesmoke 0.3125rem solid;
      border-radius: 3%;

      .title {
        font-size: 1.3em;
        border-bottom: #000000dc double 2px;
        width: 75%;
        margin-bottom: 1rem;
      }

      #storyText {
        width: 100%;
        font-size: 1em;
        padding: 0px;
        padding-bottom: 1rem;
      }

      .answerButton {
        background-color: #0000ffdc;
        color: whitesmoke;
        text-align: center;
        width: 100%;
        padding: 11px;
        margin: 0.2rem 0.5rem;
        border-radius: 15px;
        font-size: 0.8rem;
        &:hover {
          background-color: #0808e9;
          box-shadow: 1px 1px 2px blue;
        }
      }

      // ! Questions
      #questionText {
        form {
          font-size: 0.9rem;

          input {
            margin-top: 0rem;
            margin-bottom: 1rem;
            height: 1.5rem;
            font-size: 0.8rem;
            border: 2px solid #00000093;
          }
        }
      }
      #questionButtons .button {
        display: block;
        width: 100%;
        padding: 11px;
        margin: 0.2rem 0.5rem;
        border-radius: 15px;
        font-size: 0.8rem;
        &:hover {
          box-shadow: 1px 1px 2px blue;
        }
      }
    }
  }
  // ! Footer Section
  footer {
    width: 100%;
    margin: 0px;
    div {
      h1 {
        padding: 1.2rem;
        font-size: 0.7rem;
      }
    }
  }
}

// ? Pixel 2
@media only screen and (min-width: 361px) and (max-device-width: 411px) {
  // ! Header Section
  header {
    div {
      h1 {
        font-size: 1.9rem;
        padding: 1rem 0;
      }
    }
  }
  // ! Main Story
  .answer-page {
    border-radius: 3%;
    margin: 1rem 0.5rem;
    padding: 0.6rem;

    .storyBox {
      padding: 1rem 1rem;
      border-radius: 3%;

      .title {
        font-size: 1.3em;
        border-bottom: #000000dc double 2px;
        width: 75%;
        margin-bottom: 1rem;
      }

      #storyText {
        width: 100%;
        font-size: 1em;
        padding: 0px;
        padding-bottom: 1rem;
      }

      .answerButton {
        width: 100%;
        padding: 11px;
        margin: 0.2rem 0.5rem;
        border-radius: 15px;
        font-size: 0.8rem;
      }

      // ! Questions
      #questionText {
        form {
          font-size: 1rem;

          input {
            margin-top: 0rem;
            margin-bottom: 1rem;
            height: 1.5rem;
            font-size: 0.8rem;
          }
        }
      }
      #questionButtons .button {
        width: 100%;
        padding: 11px;
        margin: 0.2rem 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
  // ! Footer Section
  footer {
    div {
      h1 {
        padding: 1.2rem;
        font-size: 0.8rem;
      }
    }
  }
}

// ? IPad
@media only screen and (min-width: 412px) and (max-device-width: 768px) {
  // ! Header Section
  header {
    div {
      h1 {
        font-size: 3.5rem;
        padding: 1rem 0;
      }
    }
  }
  // ! Main Story
  .answer-page {
    margin: 2rem;
    padding: 1rem;

    .storyBox {
      padding: 1rem 1rem;
      border-radius: 3%;

      .title {
        font-size: 3em;
        border-bottom: #000000dc double 2px;
        width: 75%;
        margin-bottom: 1rem;
      }

      #storyText {
        width: 100%;
        font-size: 1.9rem;
        padding: 0px;
        padding-bottom: 1rem;
      }

      .answerButton {
        width: 100%;
        padding: 11px;
        margin: 0.2rem 0.5rem;
        border-radius: 15px;
        font-size: 1.3rem;
      }

      // ! Questions
      #questionText {
        form {
          font-size: 1.7rem;

          input {
            margin-top: 0rem;
            margin-bottom: 1rem;
            height: 2.5rem;
            font-size: 1.2rem;
          }
        }
      }
      #questionButtons .button {
        padding: 1rem 2rem;
        margin-left: 0.3rem;
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }
  // ! Footer Section
  footer {
    div {
      h1 {
        padding: 1.2rem;
        font-size: 1.3rem;
      }
    }
  }
}

// ? IPad Pro
@media only screen and (min-width: 769px) and (max-device-width: 1024px) {
  // ! Header Section
  header {
    div {
      h1 {
        font-size: 6rem;
        padding: 1rem 0;
      }
    }
  }
  // ! Main Story
  .answer-page {
    margin: 2rem;
    padding: 1.5rem;

    .storyBox {
      padding: 1rem;
      border-radius: 3%;

      .title {
        font-size: 3.5em;
        border-bottom: #000000dc double 2px;
        width: 75%;
        margin-bottom: 1rem;
      }

      #storyText {
        width: 100%;
        font-size: 2.3rem;
        padding: 0px;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }

      .answerButton {
        width: 100%;
        padding: 1.5rem 2.6rem;
        margin: auto;
        border-radius: 15px;
        font-size: 1.7rem;
      }

      // ! Questions
      #questionText {
        form {
          font-size: 2.2rem;

          input {
            margin-top: 0rem;
            margin-bottom: 1rem;
            height: 2.8rem;
            font-size: 1.5rem;
          }
        }
      }
      #questionButtons .button {
        padding: 1.5rem 2.6rem;
        margin-left: 0.3rem;
        text-align: center;
        font-size: 1.7rem;
      }
    }
  }
  // ! Footer Section
  footer {
    div {
      h1 {
        padding: 1.2rem;
        font-size: 1.3rem;
      }
    }
  }
}
