@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Rubik:500");
.answer-page {
  background-color: #1c92e09d;
  border: #1c92e09d 0.3125rem solid;
  border-radius: 3%;
  margin: 10rem 13rem;
  padding: 1rem 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.answer-page .storyBox {
  background: whitesmoke;
  padding: 1rem 1rem;
  border: whitesmoke 0.3125rem solid;
  border-radius: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer-page .storyBox #storyText {
  width: 100%;
  font-size: 1.7em;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #000000;
  padding-right: 17rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.answer-page .storyBox #questionText form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
}

.answer-page .storyBox #questionText form input {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  height: 2rem;
  width: 75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  border: 2px solid #00000093;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../images/starsBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  background-color: #1c92e036;
  -webkit-box-shadow: 0 50vh -10vh 50vh #1c92e036;
          box-shadow: 0 50vh -10vh 50vh #1c92e036;
  width: 100%;
}

header div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div h1 {
  width: 100%;
  display: block;
  font-family: "Bungee Shade", cursive;
  font-size: 6rem;
  font-stretch: expanded;
  color: #eee5e5;
  text-align: center;
  padding: 1rem 0;
}

.hide {
  display: none;
}

.answer-page .storyBox .title {
  font-size: 3em;
  font-family: "Rubik", sans-serif;
  border-bottom: #000000dc double 2px;
  width: 75%;
  margin-bottom: 1rem;
}

.answer-page .storyBox button:focus {
  outline: 0;
}

.answer-page .storyBox .button {
  background-color: rgba(0, 0, 255, 0.863);
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 16px;
  width: 25%;
}

.answer-page .storyBox .button:hover {
  background-color: #0808e9;
  -webkit-box-shadow: 1px 1px 2px blue;
          box-shadow: 1px 1px 2px blue;
  cursor: pointer;
}

.answer-page .storyBox #questionText button:focus {
  outline: 0;
}

.answer-page .storyBox #questionText .button {
  background-color: rgba(0, 0, 255, 0.863);
  color: whitesmoke;
  padding: 1rem 2rem;
  margin-left: 0.5rem;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 16px;
}

.answer-page .storyBox #questionText .button:hover {
  background-color: #0808e9;
  -webkit-box-shadow: 1px 1px 2px blue;
          box-shadow: 1px 1px 2px blue;
}

footer {
  background-color: #1c92e09d;
  -webkit-box-shadow: 0 50vh 0vh 50vh #1c92e09d;
          box-shadow: 0 50vh 0vh 50vh #1c92e09d;
  width: 100%;
  margin: 0px;
}

footer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer div h1 {
  width: 100%;
  display: block;
  padding: 1.2rem;
  font-size: 1rem;
  font-stretch: expanded;
  color: #000000e7;
  text-align: center;
}

.testStuff {
  background-color: red;
}
/*# sourceMappingURL=main.css.map */